body {
    /*border: 3px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 93vh;
    max-height: 93vh;
    width: 99%;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: auto;
}

* {
    box-sizing: border-box;
    background-color: #3E3E3C;
    /*border: 1px solid green;*/
    color: #E8E9C9;
}

button {
    border-radius: 5px;
}

.header {
    height: 13vh;
    display: flex;
    flex-basis: auto;
    font-size: large;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

#header_text {
    font-size: 40px;
    margin-left: 25px;
    margin-right: auto;
    justify-self: start;
    text-shadow: 5px 5px 5px gray;
}

.user {
    margin: 10px;
}

.profile {
    padding: 5px;
    display: none;
    flex-direction: column;
    position: absolute;
    width: 300px;
    top: 150px;
    right: 15px;
    min-width: 100px;
    min-height: 50px;
    border: 1px solid black;
    box-shadow: 0 0 10px gray;
    z-index: 2;
}

.login_icon {
    height: 100%;
    cursor: pointer;
    filter: hue-rotate(180deg);
}

.profile_icon {
    height: 100%;
    cursor: pointer;
    filter: hue-rotate(180deg);
}

.logout_icon {
    height: 100%;
    cursor: pointer;
    filter: hue-rotate(180deg);
}
#login_form {
    padding: 5px;
    flex-direction: column;
    display: none;
    position: absolute;
    width: 300px;
    top: 150px;
    right: 15px;
    min-width: 100px;
    min-height: 50px;
    border: 1px solid black;
    box-shadow: 0 0 10px gray;
    z-index: 2;
}

#login_form > * {
    margin: 5px;
    display: flex;
}

#hr {
    width: 95%;
}

#login_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#login_message {
    color: red;
}

.content {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
    font-style: oblique;
}

#main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: stretch;
    width: 60%;
    height: 100%;
}

#pics_header {
    height: 10%;
    font-size: medium;
    text-align: center;
}

#pics {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    height: 30%;
}

#pics > img {
    flex: 0 1 auto;
    max-height: 100%;
}

#videoContainer {
    display: none;
    height: 60%;
    justify-content: center;
}

#cam {
    max-height: 100%;
}

#upload {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#upload > * {
}

/*#cam {*/
/*    object-fit: cover;*/
/*}*/

.side {
    display: flex;
    width: 40%;
    height: 100%;
    overflow: scroll;
}

#gallery {
    overflow: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    /*flex: 0 1 auto;*/
    /*flex-direction: column;*/
}

.gallery_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.gallery_item > img {
    width: 95%;
    margin: 10px;
    box-shadow: 0 0 20px black;
}

.gallery_item_info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 10%;
    width: 100%;
}

.gallery_item_info > * {
    flex-shrink: 1;
    margin-right: 3px;
    font-size: small;
}

.gallery_item_actions_holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 10%;
}

.gallery_item_actions_holder > * {
    align-self: center;
    margin-right: 5px;
    height: 100%;
}

.comments_holder {
    display: none;
    flex-direction: column;
}

.comment_form {
    height: 5vh;
    border-color: #E8E9C9;
}

.footer {
    font-size: small;
    text-align: right;
}
