body {
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 93vh;
    max-height: 93vh;
    font-family: Arial, sans-serif;
    overflow: auto;
}

* {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid green;
}

.header {
    height: 13vh;
    display: flex;
    flex-basis: auto;
    font-size: large;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

#header_text {
    font-size: x-large;
    margin-left: 25px;
    margin-right: auto;
    justify-self: start;
    text-shadow: 5px 5px 5px gray;
}

.user {
    margin: 10px;
}

.profile {
    padding: 5px;
    display: none;
    flex-direction: column;
    position: absolute;
    width: 300px;
    top: 150px;
    right: 15px;
    min-width: 100px;
    min-height: 50px;
    border: 1px solid black;
    box-shadow: 0 0 10px gray;
    z-index: 2;
}

.login_icon {
    height: 100%;
    cursor: pointer;
}

.profile_icon {
    height: 100%;
    cursor: pointer;
}

.logout_icon {
    height: 100%;
    cursor: pointer;
}
#login_form {
    padding: 5px;
    background-color: white;
    flex-direction: column;
    display: none;
    position: absolute;
    width: 300px;
    top: 150px;
    right: 15px;
    min-width: 100px;
    min-height: 50px;
    border: 1px solid black;
    box-shadow: 0 0 10px gray;
    z-index: 2;
}

#login_form > * {
    margin: 5px;
    display: flex;
}

#hr {
    width: 95%;
}

#login_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#login_message {
    color: red;
}

.content {
    height: 70vh;
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: row;
    font-style: oblique;
    font-size: 36px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 75%;
    max-height: 100%;
}

#pics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

#pics img {
    max-width: 150px;
    max-height: 150px;
    box-sizing: border-box;
}

#videoContainer {
    max-height: 100%;
}

#cam {
    height: 100px;
}

/*#cam {*/
/*    object-fit: cover;*/
/*}*/

.side {
    display: flex;
    width: 25%;
    overflow: scroll;
}

#gallery {
    overflow: scroll;
    max-height: 100%;
    /*flex: 0 1 auto;*/
    /*flex-direction: column;*/
}

.gallery_item {
    /*display: flex;*/
    width: 100%;
    padding: 10px;
}

.gallery_item_img_holder {
    display: flex;
    flex-direction: row;
}

.gallery_item_img {
}

.gallery_item_img_actions {
    width: 50px;
}


.footer {
    height: 10vh;
    font-family: Arial, sans-serif;
    font-size: small;
    text-align: right;
}
